Maintainer: Ricardo Pardini <ricardo@pardini.net>
Source: k8s-worker-containerd
Section: admin
Priority: optional
Build-Depends: debhelper (>=9.2), lsb-release, bash (>= 4.0)
Standards-Version: 3.9.6
Homepage: https://containerd.io/

Package: k8s-worker-containerd
Provides: containerd, runc
Conflicts: containerd, runc
Description: containerd/run/cri-tools/cni-plugins for k8s
 containerd/run/cri-tools/cni-plugins
 Mostly built from source. Full static binaries.
Section: admin
Pre-Depends: bash (>= 4.0)
Depends: ${misc:Depends}, ${shlibs:Depends}
